:root {
    --preto: #151515;
}

header {
    background-color: white;

    width: 100%;
    height: 12vh;

    position: fixed;
    top: 0;

    z-index: 999;
}


main {
    width: 100%;

    background-color: var(--preto);

    padding-bottom: 3vh;
    margin-top: 12vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {

    display: flex;
    flex-direction: row;
    gap: 5%;
    
    width: 90%;
    
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 5%;
    margin-right: 5%;
}

.sinopse {
    text-align: justify;
    text-indent: 20px;

    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;

    border-radius: 5px;


    background-color: #333333;
}

ul {
    text-align: justify;
}

ul h3 {
    text-align: left;
}

li {
    margin-bottom: 0.3vh;
}

aside {
    display: flex;
    flex-direction: row;
    
    width: 90%;
    
    margin-left: 5%;
    margin-right: 5%;
}

aside div.row {
    width: 100%;
}

aside div.row img {
    height: auto;
    width: auto;
}

.container-cartaz img {
    height: 100%;
}

.link {
    cursor: pointer;
}

footer {
    background-color: white;

    display: flex;
    flex-direction: row;
}

footer ul {
    list-style-type: none;
}

.info-criacao {
    height: 100%;
    width: 100%;

    margin-top: 2vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2vh;
}

.container-autoria {

    height: 100%;

    display: flex;

}

.container-autoria img {
    background-color: blue;

    width: auto;
    height: 13vh;
}



@media screen and (max-width: 880px) {

    .container-logo {
        height: 100%;
        width: 35vw;

        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 5%;
    }

}

@media screen and (min-width: 881px) and (max-width: 1502px) {
    
    .container-logo {
        height: 100%;
        width: 20vw;

        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 5%;
    }

}

@media screen and (max-width: 741px) {
    .container-cartaz {
        display: none;
    }
}

@media screen and (min-width: 742px) and (max-width: 1016px) {
    .container-cartaz {
        height: 40vh;
    }    
}

@media screen and (min-width: 1017px) {
    .container-cartaz {
        height: 50vh;
    }
    
}

@media screen and (min-width: 1503px) {
    .container-logo {
        height: 100%;
        width: 15vw;

        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 5%;
    }
}